## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

## Thumbnails
._*

## Files that might appear on external disk
.Spotlight-V100
.Trashes

/tmp/*
*~
!*.pdf
*.xbb
*.ps
*.dvi
*.out
*.aux
*.log
*.ltjruby
*.synctex.*

extras/

test.pdf
test.tex
test-kksref.pdf
sample-kksref.pdf
test-autoref.pdf
stress.pdf
stress-haranoaji.pdf
_overlaycheck.*
_ov2.*
_dim.*
_s*.*
_x.*
_fix*.*
_e.* _p.* _r*.*

Work/*
